<h1><%= @disease.name %>のページ</h1>
<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        新規投稿
      </button>
    </div>
    <div class="col-9 sidebar treatments">
      <%= render 'treatments', treatments: @treatments %>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新規投稿</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @treatment, remote: true do |f|%>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :affected_on, "罹患日"%>
          <%= f.date_field :affected_on, class: "form-control"%>
          <%= f.label :drug_name, "薬剤名"%>
          <%= f.text_field :drug_name, class: "form-control"%>
          <%= f.label :content, "内容"%>
          <%= f.text_area :content, class: "form-control"%>
          <%= f.label :advice, "アドバイス"%>
          <%= f.text_area :advice, class: "form-control"%>
          <%#<%= f.hidden_field :disease_id %>
          <%= f.label :disease_id, "疾患番号"%>
          <%= f.text_field :disease_id, class: "form-control"%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        <%= f.submit "投稿する", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>