<h1>Treatmens index</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">名前</th>
      <th scope="col">年齢</th>
      <th scope="col">エリア</th>
      <th scope="col">罹患日</th>
      <th scope="col">服用薬剤</th>
      <th scope="col">治療内容</th>
      <th scope="col">アドバイス</th>
    </tr>
  </thead>

  <tbody>
    <% @treatments.each do |treatment| %>
    <tr>
      <td><%= treatment.user.name %></td>
      <td><%= treatment.user.age %></td>
      <td><%= treatment.user.prefecture %></td>
      <td><%= treatment.affected_on %></td>
      <td><%= treatment.drug_name %></td>
      <td><%= treatment.content %></td>
      <td><%= treatment.advice %></td>
      <%#= link_to 'Show', disease_treatment_path(treatment, id: treatment.id) %>
      <% if treatment.user_id == current_user.id %>

      <td><%= link_to 'Edit', edit_disease_treatment_path(treatment, id: treatment.id) %></td>
      <td>
        <%= link_to 'Destroy', disease_treatment_path(treatment, id: treatment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<%#= link_to 'New expenses', new_disease_expense_path(@disease) %>
<%= link_to 'Back', disease_path(@disease) %>
<%= link_to '疾患一覧', diseases_path %>|
<%= link_to '情報登録', new_disease_treatment_path %> |