<%= form_with(model: [@disease, @treatment], local: true) do |form| %>
<div class="field">
  <%= form.label :罹患日 %>
  <%= form.date_field :affected_on %>
</div>

<div class="field">
  <%= form.label :薬剤名 %>
  <%= form.text_field :drug_name %>
</div>

<div class="field">
  <%= form.label :内容 %>
  <%= form.text_area :content %>
</div>

<div class="field">
  <%= form.label :アドバイス %>
  <%= form.text_area :advice %>
</div>

<div class="actions">
  <%= form.submit %>
</div>

<% end %>

<%#= render 'form', expense: @expense %>

<%= link_to 'Back', disease_treatments_path %>