<% if alert %>
<p class="alert alert-danger"><%= alert %><button type="button" class="close" data-dismiss="alert">&times;</button>
</p>
<% end %>

<% if @over_ten %>
<%= link_to '過去のメッセージを表示する', '?m=all' %>
<% end %>

<div class="container main-contents">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <table class="head message-container">
        <tr>
          <th style="text-align: left; font-size: 1rem;"><%= "" %></th>
          <th style="text-align: left; font-size: 1rem;"><%= "" %></th>
        </tr>
      </table>
      <table class="message table">
        <% @messages.each do |message| %>
        <% if message.body.present? %>
        <% if message.user_id != current_user.id %>
        <tr>
          <td class="m_filed" id="usermessage">
            <p class="text-align: left;"><%=link_to message.user.name, message.user %>
              <%= message.message_time %></p>
            <p style="text-align: left;"><%= message.body %></p>
            <p style="text-align: left;"><%= message.read ? '既読' : '未読' %></p>
          </td>
        </tr>
        <td class="space-box">
        </td>
        <% else %>
        <tr>
          <div class="right-box">
            <td class="m_filed" id="mymessage_<%= message.id %>">
              <p style="text-align: right;"><%= current_user.name%>
                <%= message.message_time %></p>
              <p style="text-align: right;"><%= message.body %></p>
              <p style="text-align: right;"><%= message.read ? '既読' : '未読' %></p>
              <p style="text-align: right;"><%= link_to "削除",conversation_message_path(@conversation,message), method: :delete, remote: true,
                                        data: { confirm: "本当に削除しますか?"} %></p>
            </td>
          </div>
          </td>
        </tr>
        <td class="space-box">
        </td>
        <% end %>
        <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div><br>
<%= form_with(model: [@conversation, @message], remote: true) do |f| %>
<div class="user_field">
  <%= f.text_area :body, class: "form-control", placeholder: "メッセージを入力してください" %>
</div>
<%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
<div class="user_field">
  <%= f.submit "メッセージを送る"%>
</div>
<br>
<% end %>