<%= form_with(model: [disease, comment]) do |form| %>
<% if comment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
  <ul>
    <% comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>年齢</th>
      <th>エリア</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <div class="field">
      <tr>
        <td><%= current_user.name %></td>
        <td><%= current_user.age %></td>
        <td><%= current_user.prefecture %></td>
        <td><%= form.label :コメント %></td>
        <td><%= form.text_area :content, size: "50x3" %></td>
        <td class="actions"> <%= form.submit %></td>
    </div>
    </tr>
  </tbody>
</table>
<% end %>