<%= form_with(model: [disease, comment]) do |form| %>
<% if comment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(comment.errors.count, "件") %> 件のエラーがあります</h2>
  <ul>
    <% comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="user_field">
  <% if current_user.image.blank? %>
  <td> <img src="/assets/icon1.png" width="90" height="90">
    <%else %>
  <td nowrap> <img src=<%= current_user.image %> width="90" height="90">
    <% end %>
    <%= current_user.name %>/
    <%= current_user.age %>/
    <%= current_user.prefecture %></td>
</div>
<br>
<div class="user_field">
  <%= form.text_area :content, size: "50x3", placeholder: "コメントはこちら" %></div>
<div class="actions"> <%= form.submit :投稿する %></div>
<% end %>