<%= form_with(model: [disease, comment]) do |form| %>
<% if comment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
  <ul>
    <% comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<img src=<%= current_user.image %> width="90" height="90">
<%= current_user.name %>
<%= current_user.age %>
<%= current_user.prefecture %></td>
<%= form.label :コメント %>
<%= form.text_area :content, size: "50x3" %>
<a class="actions"> <%= form.submit %></a>

<% end %>