<%= form_with(model: user, local: true) do |form| %>
<% if user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
  <ul>
    <% user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="user_field">
  <%= form.label :image %>
  <%= form.file_field :image %>
  <% unless @user.image.blank? %>
  <%= image_tag @user.image.url, size: '150x150' %>
  <% end %>
</div>

<div class="user_field">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>

<div class="user_field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="user_field">
  <%= form.label :age %>
  <%= form.select :age, User.ages.keys, {} %>
</div>

<div class="user_field">
  <%= form.label :birthday %>
  <%= form.date_select :birthday, {start_year:Time.now.year-100, end_year:Time.now.year} %>
</div>

<div class="user_field">
  <%= form.label :prefecture %>
  <%= form.select :prefecture, User.prefectures.keys, {} %>
</div>

<div class="user_field">
  <%= form.label :self_introduction %>
  <%= form.text_area :self_introduction %>
</div>

<div class="user_field">
  <%= form.label :classification %>
  <%= form.select :classification, User.classifications.keys, {} %>
</div>
<br>
<div class="actions">
  <%= form.submit %>
</div>
<% end %>
<br>
<p style="text-align:center">
  <%= link_to '戻る', user_path(current_user.id) %>
</p>