<% if user_signed_in? && @user == current_user %>
<h2 style="text-align:center"><%= @user.name %>さんのマイページ</h2>
<% else %>
<h1>ユーザーページ</h1>
<% end %>
<br>
<div class="flame09">
  <% if @user.image.blank? %>
  <p style="text-align:center">
    <img src="/assets/icon.png" width="90" height="90">
  </p>
  <% else%>
  <p style="text-align:center">
    <%= image_tag @user.image.url, size: '150x150' %>
  </p>
  <% end %>
  <br>
  <div style="text-align:center">
    <%= link_to ' 登録した疾患', onsets_path,id: @disease ,class:"btn btn-info btn-lg far fa-calendar-plus "%>
  </div>
  <br>

  <p style="text-align:center">
    <strong class="user_strong">名前:</strong>
    <span class="user_a"><%= @user.name %></span>
  </p>

  <p style="text-align:center">
    <strong class="user_strong">メールアドレス:</strong>
    <span class="user_a"><%= @user.email %></span>
  </p>

  <p style="text-align:center">
    <strong class="user_strong">年齢:</strong>
    <span class="user_a"><%= @user.age %></span>
  </p>

  <p style="text-align:center">
    <strong class="user_strong">エリア:</strong>
    <span class="user_a"><%= @user.prefecture %></span>
  </p>

  <p style="text-align:center">
    <strong class="user_strong">生年月日:</strong>
    <span class="user_a"><%= @user.birthday.strftime("%Y年%m月%d日") %></span>
  </p>

  <p style="text-align:center">
    <strong class="user_strong">自己紹介:</strong>
    <span class="user_a"><%= @user.self_introduction %></span>
  </p>


  <p style="text-align:center">
    <strong class="user_strong">関係区分:</strong>
    <span class="user_a"><%= @user.classification %></span>
  </p>
</div>

<%# userとdisease.idをリレーションする%>

<%#= link_to 'Edit', edit_user_path(@user) %>
<%#= link_to 'ホームに戻る', root_path %>
<p style="text-align:center">
  <% if user_signed_in? && @user == current_user %>
  <%= link_to '戻る', root_path %>/
  <%= link_to "プロフィール編集", edit_user_path(current_user) %>
  <% end %>
</p>