<p id="notice"><%= notice %></p>

<% if user_signed_in? && @user == current_user %>
<h1>マイページ</h1>
<% else %>
<h1>ユーザーページ</h1>
<% end %>

<strong>Email:</strong>
<%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @user.prefecture %>
</p>

<p>
  <strong>Self introduction:</strong>
  <%= @user.self_introduction %>
</p>

<% if @user.image.present? %>
<p>
  <strong>Image:</strong>
  <%= image_tag @user.image.url, size: '150x150' %>
</p>
<% end %>


<p>
  <strong>Classification:</strong>
  <%= @user.classification %>
</p>

<%#= link_to 'Edit', edit_user_path(@user) %> |
<%#= link_to 'ホームに戻る', root_path %>
<% if user_signed_in? && @user == current_user %>
<%= link_to "プロフィール編集", edit_user_path(current_user) %>
<% end %>