<% if user_signed_in? && @user == current_user %>
<h3 style="text-align:center"><%= @user.name %>さんのマイページ</h3>
<% else %>
<h1>ユーザーページ</h1>
<% end %>
<br>
<% unless @user.image.blank? %>
<p style="text-align:center">
  <%= image_tag @user.image.url, size: '150x150' %>
</p>
<% end %>


<p style="text-align:center">
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p style="text-align:center">
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p style="text-align:center">
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p style="text-align:center">
  <strong>Prefecture:</strong>
  <%= @user.prefecture %>
</p>

<p style="text-align:center">
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p style="text-align:center">
  <strong>Self introduction:</strong>
  <%= @user.self_introduction %>
</p>


<p style="text-align:center">
  <strong>Classification:</strong>
  <%= @user.classification %>
</p>
<%# userとdisease.idをリレーションする%>

<%#= link_to 'Edit', edit_user_path(@user) %> |
<%#= link_to 'ホームに戻る', root_path %>
<p style="text-align:center">
  <% if user_signed_in? && @user == current_user %>
  <%= link_to 'Back', root_path %>|
  <%= link_to '登録した疾患', onsets_path %>|
  <%= link_to "プロフィール編集", edit_user_path(current_user) %>
  <% end %>
</p>