<h1>検索結果</h1>
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |disease| %>
    <tr>
      <td><%= disease.number %></td>
      <td><%= disease.name %></td>
      <td><%= link_to 'Show', disease %></td>
      <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_disease_path(disease) %></td>
      <td><%= link_to 'Destroy', disease, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '疾患一覧に戻る', diseases_path %>