<h1>検索結果</h1>
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |disease| %>
    <tr>
      <td><%= link_to disease.number, disease %></td>
      <td><%= link_to disease.name, disease %></td>
      <%#<td><%= link_to '情報', disease %>
      <%# if current_user.admin? %>
      <%#<td><%= link_to 'Edit', edit_disease_path(disease) %>
      <%#<td><%= link_to 'Destroy', disease, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%# end %>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '疾患一覧に戻る', diseases_path %>