<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @disease.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @disease.name %>
</p>

<%= link_to 'Edit', edit_disease_path(@disease) %> |
<%= link_to 'Back', root_path %>
<%= link_to "治療情報一覧", treatments_path(@disease.id) %>