<h1>Editing Expenses</h1>

<%= form_with(model: [@expense.disease, @expense], local: true) do |form| %>
<% if @expense.errors.any? %> <div id="error_explanation">
  <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @expense.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= form.label :treatment_cost %>
  <%= form.text_field :treatment_cost %>
</div>

<div class="field">
  <%= form.label :drug_cost %>
  <%= form.text_field :drug_cost %>
</div>

<div class="field">
  <%= form.label :other_cost %>
  <%= form.text_field :other_cost %>
</div>

<div class="actions">
  <%= form.submit %>
</div>

<% end %>
<%#= render 'form', expense: @expense %>

<%#= link_to 'Show', @expense %> |
<%= link_to 'Back', disease_path(@expense.disease_id) %>