<h2 style="text-align:center">治療費情報の編集</h2>
<br>
<%= form_with(model: [@expense.disease, @expense], local: true) do |form| %>
<% if @expense.errors.any? %> <div id="error_explanation">
  <h2><%= pluralize(@expense.errors.count, "件") %> のエラーがあります</h2>

  <ul>
    <% @expense.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="user_field">
  <%= form.label :treatment %>
  <%= form.number_field :treatment_cost,in: 0..10000000 ,placeholder: "月の平均",step: "500" %>
</div>

<div class="user_field">
  <%= form.label :drug_cost %>
  <%= form.number_field :drug_cost,in: 0..10000000 ,placeholder: "月の平均",step: "500" %>
</div>

<div class="user_field">
  <%= form.label :other_cost %>
  <%= form.number_field :other_cost,in: 0..10000000 ,placeholder: "月の平均",step: "500" %>
</div>
<br>
<div class="actions">
  <%= form.submit %>
</div>
<br>
<% end %>
<%#= render 'form', expense: @expense %>
<%#= link_to 'Show', @expense %>
<div style="text-align:center">
  <%= link_to '戻る', disease_expenses_path(@expense.disease_id) %>
</div>