<h5 style="text-align:center">告示番号<%= @disease.number %></h5>
<h2 style="text-align:center"><%= @disease.name %></h2>
<br>
<div style="text-align:center">現在この疾患の治療費情報は<%= @expenses.where(params[:created_at]).total_count %>件です。</div>
<br>
<% if @expenses.page(params[:page]) == @expenses.page("1")%>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-center">
          <div class="title">
            <i class="fa fa-procedures" aria-hidden="true"></i>
            <h3>治療費月平均</h3>
          </div>
          <div class="price">
            <h5>
              <div style="text-align:center">
                <%= number_to_currency(@expenses.average(:treatment_cost),:precision =>0, :format=>"%n%u", :unit=>"円")%>
            </h5>
          </div>
          <div class="option">
          </div>
        </div>
      </div>
      <!-- END Col one -->
      <div class="col-sm-4">
        <div class="card text-center">
          <div class="title">
            <i class="fa fa-pills" aria-hidden="true"></i>
            <h3>薬剤費月平均</h3>
          </div>
          <div class="price">
            <h5>
              <%= number_to_currency(@expenses.average(:drug_cost),:precision =>0, :format=>"%n%u", :unit=>"円")%>
            </h5>
          </div>
          <div class="option">
          </div>
        </div>
      </div>
      <!-- END Col two -->
      <div class="col-sm-4">
        <div class="card text-center">
          <div class="title">
            <i class="fa fa-yen-sign" aria-hidden="true"></i>
            <h3>その他月平均</h3>
          </div>
          <div class="price">
            <h5>
              <%= number_to_currency(@expenses.average(:other_cost),:precision =>0, :format=>"%n%u", :unit=>"円")%>
            </h5>
          </div>
          <div class="option">
          </div>
        </div>
      </div>
      <!-- END Col three -->
    </div>
  </div>
</div>
<% end %>
<br>
<div style=" text-align:center">
  <%= link_to " 情報一覧","/diseases/#{@disease.id}/treatments",id: @disease ,class:"btn btn-primary btn-lg far fa-edit "%>
  <%= link_to " 治療費登録",new_disease_expense_path,id: @disease ,class:"btn btn-success btn-lg fas fa-comments-dollar"%>
</div>
<div style="text-align:center">
  <%= link_to '戻る', disease_path(@disease) %>
</div>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th nowrap scope="col">User</th>
      <th nowrap scope="col">治療費</th>
      <th nowrap scope="col">薬剤費</th>
      <th nowrap scope="col">その他のコスト</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
    <tr>
      <% if expense.user.image.blank? %>
      <td> <img src="/assets/icon1.png" width="90" height="90">
        <%else %>
      <td nowrap width=15%> <img src=<%= expense.user.image %> width="90" height="90">
        <% end %>
        <div><%= link_to expense.user.name , expense.user%></div>
        <%= expense.user.age %> /
        <%= expense.user.prefecture %>
        <br>
        投稿:<%= expense.created_at.strftime("%Y/%m/%d/ %I:%M%#p")%>
        <br>
        <% if expense.user_id == current_user.id %>
        <%= link_to '編集', edit_disease_expense_path(expense, id: expense.id) %>
        <%= link_to '削除', disease_expense_path(expense, id: expense.id), method: :delete, data: { confirm: '本当に削除しますか?' } %>
        <% end %>
      </td>
      <td width=25%><%= number_to_currency(expense.treatment_cost,:precision =>0, :format=>"%n%u", :unit=>"円") %>
      </td>
      <td width=25%><%= number_to_currency(expense.drug_cost,:precision =>0, :format=>"%n%u", :unit=>"円") %></td>
      <td width=25%><%= number_to_currency(expense.other_cost,:precision =>0, :format=>"%n%u", :unit=>"円") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @expenses %>