<h1>Diseasesindex</h1>

<table>
  <thead>
    <tr>
      <th>treatment_cost</th>
      <th>drug_cost</th>
      <th>other_cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <p id="notice"><%= notice %></p>

  <tbody>
    <% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.number %></td>
      <td><%= expense.name %></td>
      <td><%= link_to 'Show', expense %></td>
      <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
      <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New expenses', new_expense_path %>
<%= link_to '疾患一覧', diseases_path %>