<h1>Expenses index</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>年齢</th>
      <th>エリア</th>
      <th>治療費</th>
      <th>薬剤費</th>
      <th>その他のコスト</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <p id="notice"><%= notice %></p>

  <tbody>
    <% @expenses.each do |expense| %>
    <tr>
      <%#= expense.disease.onset_users.find(current_user.id).name%>
      <td><%= expense.user.name %></td>
      <td><%= expense.user.age %></td>
      <td><%= expense.user.prefecture %></td>
      <td><%= number_to_currency(expense.treatment_cost,:precision =>0, :format=>"%n%u", :unit=>"円") %></td>
      <td><%= number_to_currency(expense.drug_cost,:precision =>0, :format=>"%n%u", :unit=>"円") %></td>
      <td><%= number_to_currency(expense.other_cost,:precision =>0, :format=>"%n%u", :unit=>"円") %></td>

      <%# link_to 'Show', disease_expense_path(expense, id: expense.id) %>

      <% if expense.user_id == current_user.id %>

      <td><%= link_to 'Edit', edit_disease_expense_path(expense, id: expense.id) %></td>
      <td>
        <%= link_to 'Destroy', disease_expense_path(expense, id: expense.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      <% end %>

    </tr>
    <% end %>
  </tbody>
</table>

<br>
<%#= link_to 'New expenses', new_disease_expense_path(@disease) %>
<%= link_to 'Back', disease_path(@disease) %>
<%= link_to '疾患一覧', diseases_path %>|
<%= link_to '治療費登録', new_disease_expense_path %> |