<h1>New Expenses</h1>

<%= form_with(model: [@disease, @expense], local: true) do |form| %>
<div class="field">
  <%= form.label :treatment_cost %>
  <%= form.text_field :treatment_cost %>
</div>

<div class="actions">
  <%= form.submit %>
</div>

<% end %>

<%#= render 'form', expense: @expense %>

<%= link_to 'Back', disease_path(@disease) %>