<!DOCTYPE html>
<html lang="ja">

<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
    integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <%# logo font Taviraj %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@300&display=swap" rel="stylesheet">
</head>
<a class="display-4">Nanbyo Connect</a>

<div class="text-right">
  <% if user_signed_in? %>
  <a class="far fa-envelope"><%= link_to "メッセージを確認する",conversations_path %></a>
  <a class="display-12 fas fa-user"><%= current_user.name %>さん</a>
  <% end %>
</div>

<header>
</header>

<body>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- ナビゲーションメニュー -->
  <% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to "ホーム", root_path, class: "navbar-brand text-dark" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <%= link_to "マイページ", user_path(current_user.id), class: "nav-link text-dark" %>
          <%= link_to "疾患選択", diseases_path, class: "nav-link text-dark" %>
          <%= link_to "医療費助成シミュレーション", new_simulation_path, class: "nav-link text-dark" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "nav-link text-dark" %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
  <div style="text-align:center">
    <% unless user_signed_in? %>
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %> /
    <%= link_to 'ゲスト管理者ログイン（閲覧用）', users_admin_guest_sign_in_path, method: :post %> /
    <% end %>
    <% if user_signed_in? %>
    <% if current_user.admin? %>
    <%= link_to "管理者画面", rails_admin_path %>
    <% end %>
    <% else %>
    <%= link_to "新規登録", new_user_registration_path %> /
    <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </div>
  <div>
    <% if notice %>
    <p class="alert alert-primary"><%= notice %><button type="button" class="close"
        data-dismiss="alert">&times;</button>
    </p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %><button type="button" class="close" data-dismiss="alert">&times;</button>
    </p>
    <% end %>
    <%= yield %>
  </div>
</body>
<footer class="text-center bg-dark text-white">
  <p class="py-3">©︎ 2022 Nanbyo Connect</p>
</footer>

</html>